DS-M6/Advertising.csv
DS-M6/AmesHousing.csv
DS-M6/Checkpoint.ipynb
DS-M6/CP-20220729T132830Z-001.zip
DS-M6/Datasets/AAPL_2006-01-01_to_2018-01-01.csv
DS-M6/Datasets/ads.csv
DS-M6/Datasets/arbol_aux.jpg
DS-M6/Datasets/arbol.jpg
DS-M6/Datasets/avocado.csv
DS-M6/Datasets/Bank_Personal_Loan_Modelling.xlsx
DS-M6/Datasets/challenger.csv
DS-M6/Datasets/Clientes.csv
DS-M6/Datasets/Compra.csv
DS-M6/Datasets/conversiones.csv
DS-M6/Datasets/creditcard.csv
DS-M6/Datasets/datosPCA.csv
DS-M6/Datasets/EjemploPLN.txt
DS-M6/Datasets/Emisiones_CO2.xlsx
DS-M6/Datasets/english-spanish.pkl
DS-M6/Datasets/fifa-statistics.csv
DS-M6/Datasets/frasco_monedas.csv
DS-M6/Datasets/heart.csv
DS-M6/Datasets/imagen_prueba.png
DS-M6/Datasets/iris_dataset.csv
DS-M6/Datasets/Iris.png
DS-M6/Datasets/lfwcrop_grey.zip
DS-M6/Datasets/MNIST.zip
DS-M6/Datasets/movie_reviews.zip
DS-M6/Datasets/nombres_dinosaurios.txt
DS-M6/Datasets/Outliers_Data_1.csv
DS-M6/Datasets/Outliers_Data_2.csv
DS-M6/Datasets/Productos.csv
DS-M6/Datasets/recomendacion.zip
DS-M6/Datasets/Sarcasm_Headlines_Dataset.json
DS-M6/Datasets/sentiment.csv
DS-M6/Datasets/Sucursales.csv
DS-M6/Datasets/Terrenos Mendoza.xlsx
DS-M6/Datasets/tipos-de-cambio-historicos.xlsx
DS-M6/Datasets/Titanic.csv
DS-M6/Datasets/Venta_Encuestas.csv
DS-M6/Datasets/Venta_Procesado.csv
DS-M6/Datasets/Venta.csv
DS-M6/Datasets/weather.csv
DS-M6/Datasets/wine_reviews.csv
DS-M6/Datasets/data/circles/circle_0.png
DS-M6/Datasets/data/circles/circle_1.png
DS-M6/Datasets/data/circles/circle_2.png
DS-M6/Datasets/data/circles/circle_3.png
DS-M6/Datasets/data/circles/circle_4.png
DS-M6/Datasets/data/circles/circle_5.png
DS-M6/Datasets/data/circles/circle_6.png
DS-M6/Datasets/data/circles/circle_7.png
DS-M6/Datasets/data/circles/circle_8.png
DS-M6/Datasets/data/circles/circle_9.png
DS-M6/Datasets/data/circles/circle_10.png
DS-M6/Datasets/data/circles/circle_11.png
DS-M6/Datasets/data/circles/circle_12.png
DS-M6/Datasets/data/circles/circle_13.png
DS-M6/Datasets/data/circles/circle_14.png
DS-M6/Datasets/data/circles/circle_15.png
DS-M6/Datasets/data/circles/circle_16.png
DS-M6/Datasets/data/circles/circle_17.png
DS-M6/Datasets/data/circles/circle_18.png
DS-M6/Datasets/data/circles/circle_19.png
DS-M6/Datasets/data/circles/circle_20.png
DS-M6/Datasets/data/circles/circle_21.png
DS-M6/Datasets/data/circles/circle_22.png
DS-M6/Datasets/data/circles/circle_23.png
DS-M6/Datasets/data/circles/circle_24.png
DS-M6/Datasets/data/circles/circle_25.png
DS-M6/Datasets/data/circles/circle_26.png
DS-M6/Datasets/data/circles/circle_27.png
DS-M6/Datasets/data/circles/circle_28.png
DS-M6/Datasets/data/circles/circle_29.png
DS-M6/Datasets/data/circles/circle_30.png
DS-M6/Datasets/data/circles/circle_31.png
DS-M6/Datasets/data/circles/circle_32.png
DS-M6/Datasets/data/circles/circle_33.png
DS-M6/Datasets/data/circles/circle_34.png
DS-M6/Datasets/data/circles/circle_35.png
DS-M6/Datasets/data/circles/circle_36.png
DS-M6/Datasets/data/circles/circle_37.png
DS-M6/Datasets/data/circles/circle_38.png
DS-M6/Datasets/data/circles/circle_39.png
DS-M6/Datasets/data/circles/circle_40.png
DS-M6/Datasets/data/circles/circle_41.png
DS-M6/Datasets/data/circles/circle_42.png
DS-M6/Datasets/data/circles/circle_43.png
DS-M6/Datasets/data/circles/circle_44.png
DS-M6/Datasets/data/circles/circle_45.png
DS-M6/Datasets/data/circles/circle_46.png
DS-M6/Datasets/data/circles/circle_47.png
DS-M6/Datasets/data/circles/circle_48.png
DS-M6/Datasets/data/circles/circle_49.png
DS-M6/Datasets/data/circles/circle_50.png
DS-M6/Datasets/data/circles/circle_51.png
DS-M6/Datasets/data/circles/circle_52.png
DS-M6/Datasets/data/circles/circle_53.png
DS-M6/Datasets/data/circles/circle_54.png
DS-M6/Datasets/data/circles/circle_55.png
DS-M6/Datasets/data/circles/circle_56.png
DS-M6/Datasets/data/circles/circle_57.png
DS-M6/Datasets/data/circles/circle_58.png
DS-M6/Datasets/data/circles/circle_59.png
DS-M6/Datasets/data/circles/circle_60.png
DS-M6/Datasets/data/circles/circle_61.png
DS-M6/Datasets/data/circles/circle_62.png
DS-M6/Datasets/data/circles/circle_63.png
DS-M6/Datasets/data/circles/circle_64.png
DS-M6/Datasets/data/circles/circle_65.png
DS-M6/Datasets/data/circles/circle_66.png
DS-M6/Datasets/data/circles/circle_67.png
DS-M6/Datasets/data/circles/circle_68.png
DS-M6/Datasets/data/circles/circle_69.png
DS-M6/Datasets/data/circles/circle_70.png
DS-M6/Datasets/data/circles/circle_71.png
DS-M6/Datasets/data/circles/circle_72.png
DS-M6/Datasets/data/circles/circle_73.png
DS-M6/Datasets/data/circles/circle_74.png
DS-M6/Datasets/data/circles/circle_75.png
DS-M6/Datasets/data/circles/circle_76.png
DS-M6/Datasets/data/circles/circle_77.png
DS-M6/Datasets/data/circles/circle_78.png
DS-M6/Datasets/data/circles/circle_79.png
DS-M6/Datasets/data/circles/circle_80.png
DS-M6/Datasets/data/circles/circle_81.png
DS-M6/Datasets/data/circles/circle_82.png
DS-M6/Datasets/data/circles/circle_83.png
DS-M6/Datasets/data/circles/circle_84.png
DS-M6/Datasets/data/circles/circle_85.png
DS-M6/Datasets/data/circles/circle_86.png
DS-M6/Datasets/data/circles/circle_87.png
DS-M6/Datasets/data/circles/circle_88.png
DS-M6/Datasets/data/circles/circle_89.png
DS-M6/Datasets/data/circles/circle_90.png
DS-M6/Datasets/data/circles/circle_91.png
DS-M6/Datasets/data/circles/circle_92.png
DS-M6/Datasets/data/circles/circle_93.png
DS-M6/Datasets/data/circles/circle_94.png
DS-M6/Datasets/data/circles/circle_95.png
DS-M6/Datasets/data/circles/circle_96.png
DS-M6/Datasets/data/circles/circle_97.png
DS-M6/Datasets/data/circles/circle_98.png
DS-M6/Datasets/data/circles/circle_99.png
DS-M6/Datasets/data/triangles/triangle_0.png
DS-M6/Datasets/data/triangles/triangle_1.png
DS-M6/Datasets/data/triangles/triangle_2.png
DS-M6/Datasets/data/triangles/triangle_3.png
DS-M6/Datasets/data/triangles/triangle_4.png
DS-M6/Datasets/data/triangles/triangle_5.png
DS-M6/Datasets/data/triangles/triangle_6.png
DS-M6/Datasets/data/triangles/triangle_7.png
DS-M6/Datasets/data/triangles/triangle_8.png
DS-M6/Datasets/data/triangles/triangle_9.png
DS-M6/Datasets/data/triangles/triangle_10.png
DS-M6/Datasets/data/triangles/triangle_11.png
DS-M6/Datasets/data/triangles/triangle_12.png
DS-M6/Datasets/data/triangles/triangle_13.png
DS-M6/Datasets/data/triangles/triangle_14.png
DS-M6/Datasets/data/triangles/triangle_15.png
DS-M6/Datasets/data/triangles/triangle_16.png
DS-M6/Datasets/data/triangles/triangle_17.png
DS-M6/Datasets/data/triangles/triangle_18.png
DS-M6/Datasets/data/triangles/triangle_19.png
DS-M6/Datasets/data/triangles/triangle_20.png
DS-M6/Datasets/data/triangles/triangle_21.png
DS-M6/Datasets/data/triangles/triangle_22.png
DS-M6/Datasets/data/triangles/triangle_23.png
DS-M6/Datasets/data/triangles/triangle_24.png
DS-M6/Datasets/data/triangles/triangle_25.png
DS-M6/Datasets/data/triangles/triangle_26.png
DS-M6/Datasets/data/triangles/triangle_27.png
DS-M6/Datasets/data/triangles/triangle_28.png
DS-M6/Datasets/data/triangles/triangle_29.png
DS-M6/Datasets/data/triangles/triangle_30.png
DS-M6/Datasets/data/triangles/triangle_31.png
DS-M6/Datasets/data/triangles/triangle_32.png
DS-M6/Datasets/data/triangles/triangle_33.png
DS-M6/Datasets/data/triangles/triangle_34.png
DS-M6/Datasets/data/triangles/triangle_35.png
DS-M6/Datasets/data/triangles/triangle_36.png
DS-M6/Datasets/data/triangles/triangle_37.png
DS-M6/Datasets/data/triangles/triangle_38.png
DS-M6/Datasets/data/triangles/triangle_39.png
DS-M6/Datasets/data/triangles/triangle_40.png
DS-M6/Datasets/data/triangles/triangle_41.png
DS-M6/Datasets/data/triangles/triangle_42.png
DS-M6/Datasets/data/triangles/triangle_43.png
DS-M6/Datasets/data/triangles/triangle_44.png
DS-M6/Datasets/data/triangles/triangle_45.png
DS-M6/Datasets/data/triangles/triangle_46.png
DS-M6/Datasets/data/triangles/triangle_47.png
DS-M6/Datasets/data/triangles/triangle_48.png
DS-M6/Datasets/data/triangles/triangle_49.png
DS-M6/Datasets/data/triangles/triangle_50.png
DS-M6/Datasets/data/triangles/triangle_51.png
DS-M6/Datasets/data/triangles/triangle_52.png
DS-M6/Datasets/data/triangles/triangle_53.png
DS-M6/Datasets/data/triangles/triangle_54.png
DS-M6/Datasets/data/triangles/triangle_55.png
DS-M6/Datasets/data/triangles/triangle_56.png
DS-M6/Datasets/data/triangles/triangle_57.png
DS-M6/Datasets/data/triangles/triangle_58.png
DS-M6/Datasets/data/triangles/triangle_59.png
DS-M6/Datasets/data/triangles/triangle_60.png
DS-M6/Datasets/data/triangles/triangle_61.png
DS-M6/Datasets/data/triangles/triangle_62.png
DS-M6/Datasets/data/triangles/triangle_63.png
DS-M6/Datasets/data/triangles/triangle_64.png
DS-M6/Datasets/data/triangles/triangle_65.png
DS-M6/Datasets/data/triangles/triangle_66.png
DS-M6/Datasets/data/triangles/triangle_67.png
DS-M6/Datasets/data/triangles/triangle_68.png
DS-M6/Datasets/data/triangles/triangle_69.png
DS-M6/Datasets/data/triangles/triangle_70.png
DS-M6/Datasets/data/triangles/triangle_71.png
DS-M6/Datasets/data/triangles/triangle_72.png
DS-M6/Datasets/data/triangles/triangle_73.png
DS-M6/Datasets/data/triangles/triangle_74.png
DS-M6/Datasets/data/triangles/triangle_75.png
DS-M6/Datasets/data/triangles/triangle_76.png
DS-M6/Datasets/data/triangles/triangle_77.png
DS-M6/Datasets/data/triangles/triangle_78.png
DS-M6/Datasets/data/triangles/triangle_79.png
DS-M6/Datasets/data/triangles/triangle_80.png
DS-M6/Datasets/data/triangles/triangle_81.png
DS-M6/Datasets/data/triangles/triangle_82.png
DS-M6/Datasets/data/triangles/triangle_83.png
DS-M6/Datasets/data/triangles/triangle_84.png
DS-M6/Datasets/data/triangles/triangle_85.png
DS-M6/Datasets/data/triangles/triangle_86.png
DS-M6/Datasets/data/triangles/triangle_87.png
DS-M6/Datasets/data/triangles/triangle_88.png
DS-M6/Datasets/data/triangles/triangle_89.png
DS-M6/Datasets/data/triangles/triangle_90.png
DS-M6/Datasets/data/triangles/triangle_91.png
DS-M6/Datasets/data/triangles/triangle_92.png
DS-M6/Datasets/data/triangles/triangle_93.png
DS-M6/Datasets/data/triangles/triangle_94.png
DS-M6/Datasets/data/triangles/triangle_95.png
DS-M6/Datasets/data/triangles/triangle_96.png
DS-M6/Datasets/data/triangles/triangle_97.png
DS-M6/Datasets/data/triangles/triangle_98.png
DS-M6/Datasets/data/triangles/triangle_99.png
